@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-success-bg: var(--success-bg);
  --color-success-text: var(--success-text);
  --color-danger-bg: var(--danger-bg);
  --color-danger-text: var(--danger-text);
  --color-warning-bg: var(--warning-bg);
  --color-warning-text: var(--warning-text);
  --color-info-bg: var(--info-bg);
  --color-info-text: var(--info-text);
  --color-active-bg: var(--active-bg);
  --color-active-text: var(--active-text);
  --color-other-bg: var(--other-bg);
  --color-other-text: var(--other-text);
  --color-ghost-bg: var(--ghost-bg);
  --color-ghost-text: var(--ghost-text);
  --color-alternative-bg: var(--alternative-bg);
  --color-alternative-text: var(--alternative-text);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #1A1A1A;
  --foreground: #ffffff;
  --card: #1A1A1A;
  --card-foreground: #ffffff;
  --popover: #454545;
  --popover-foreground: #ffffff;
  --primary: #d3fb20;
  --primary-foreground: #282828;
  --secondary: #252525;
  --secondary-foreground: #ffffff;
  --muted: #a3a3a3;
  --muted-foreground: #a3a3a3;
  --accent: #d3fb20;
  --accent-foreground: #282828;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: #3a3a3a;
  --input: #3a3a3a;
  --ring: #d3fb20;
  --chart-1: #d3fb20;
  --chart-2: #454545;
  --chart-3: #5a5a5a;
  --chart-4: #cbfd00;
  --chart-5: #98c91e;
  --notification-primary: #cbfd0026;
  --sidebar: #252525;
  --sidebar-foreground: #b0b0b0;
  --sidebar-primary: #d3fb20;
  --sidebar-primary-foreground: #282828;
  --sidebar-accent: #d3fb20;
  --sidebar-accent-foreground: #282828;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --detail-medium-contrast: rgb(25, 25, 25);
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-body: rgb(222, 222, 222);
  --success-bg: #d3fb2033;
  --success-text: #d3fb20;
  --danger-bg: #dc262652;
  --danger-text: #ef4444;
  --warning-bg: #ea580c52;
  --warning-text: #f97316;
  --info-bg: #2b7fff33;
  --info-text: #51a2ff;
  --active-bg: #00c95033;
  --active-text: #05df72;
  --other-bg: #ad46ff33;
  --other-text: #c27aff;
  --ghost-bg: #6a728233;
  --ghost-text: #99a1af;
  --alternative-bg: #f0b10033;
  --alternative-text: #fdc700;
}

.dark {
  --background: #1A1A1A;
  --foreground: #ffffff;
  --card: #1A1A1A;
  --card-foreground: #ffffff;
  --popover: #454545;
  --popover-foreground: #ffffff;
  --primary: #d3fb20;
  --primary-foreground: #282828;
  --secondary: #252525;
  --secondary-foreground: #ffffff;
  --muted: #a3a3a3;
  --muted-foreground: #a3a3a3;
  --accent: #d3fb20;
  --accent-foreground: #282828;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: #3a3a3a;
  --input: #3a3a3a;
  --ring: #d3fb20;
  --chart-1: #d3fb20;
  --chart-2: #2f6b1f;
  --chart-3: #4f9a2a;
  --chart-4: #b6f200;
  --chart-5: #7fbf1a;
  --notification-primary: #cbfd0026;
  --sidebar: #252525;
  --sidebar-foreground: #b0b0b0;
  --sidebar-primary: #d3fb20;
  --sidebar-primary-foreground: #282828;
  --sidebar-accent: #d3fb20;
  --sidebar-accent-foreground: #282828;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --detail-medium-contrast: rgb(25, 25, 25);
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-body: rgb(222, 222, 222);
  --success-bg: #d3fb2033;
  --success-text: #d3fb20;
  --danger-bg: #dc262652;
  --danger-text: #ef4444;
  --warning-bg: #ea580c52;
  --warning-text: #f97316;
  --info-bg: #2b7fff33;
  --info-text: #51a2ff;
  --active-bg: #00c95033;
  --active-text: #05df72;
  --other-bg: #ad46ff33;
  --other-text: #c27aff;
  --ghost-bg: #6a728233;
  --ghost-text: #99a1af;
  --alternative-bg: #f0b10033;
  --alternative-text: #fdc700;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


html, body {
  margin: 0;
  height: 100%;
  overscroll-behavior: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

button {
  touch-action: manipulation;
}